<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fowoo :: {% block title %}Home{% endblock title %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/statics/css/fowoo.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/statics/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/statics/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/statics/favicon/favicon-16x16.png">
    <link rel="manifest" href="/statics/favicon/site.webmanifest">
</head>

<body>
    <div class="layout">
        <header>
            {% block header %}
            {% if user %}{% else %}<a href="/login">Login</a>{% endif %}
            {% endblock header %}
        </header>
        <div class="content">
            {% block body %}
            {% endblock body %}
        </div>
    </div>
</body>

</html>
