<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/statics/css/fowoo.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/statics/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/statics/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/statics/favicon/favicon-16x16.png">
    <link rel="manifest" href="/statics/favicon/site.webmanifest">
</head>

<body>
    <h1>Hello, Html!</h1>
</body>

</html>
